<?xml version="1.0"?>
    <config>
        <modules>
           <PayU_PayU>
              <version>0.1.0</version>
           </PayU_PayU>
        </modules>
     
        <global>
        <blocks>
            <PayU>
                <class>PayU_PayU_Block</class>
            </PayU>
        </blocks>
            <models>
                <PayU>
                    <class>PayU_PayU_Model</class>
                </PayU>
            </models>
            <resources>
                <PayU_setup>
                    <setup>
                        <module>PayU_PayU</module>
                    </setup>
                    <connection>
                        <use>core_setup</use>
                    </connection>
                </PayU_setup>
                <PayU_write>
                    <connection>
                      <use>core_write</use>
                    </connection>
                </PayU_write>
                <PayU_read>
                   <connection>
                    <use>core_read</use>
                  </connection>
                </PayU_read>
            </resources>
        </global>
        
        <frontend>
        <secure_url>
            <payu_redirect>/PayU/redirect/</payu_redirect>
            <payu_responce>/PayU/responce/</payu_responce>
        </secure_url>

        <routers>
            <PayU>
                <use>standard</use>
                <args>
                    <module>PayU_PayU</module>
                    <frontName>PayU</frontName>
                </args>
            </PayU>
        </routers>
        
        </frontend>
        <default>
            <payment>
                <PayU>
                    <active>0</active>
                    <model>PayU/PayU</model>
                    <order_status>pending</order_status>
                    <after_pay_status>complete</after_pay_status>
                    <title>Pay via PayU</title>
                    <debug_mode>1</debug_mode>
                    <currency></currency>
                    <vat>0</vat>
                    <LU_url>https://secure.payu.ua/order/lu.php</LU_url>
                    <payment_action>generateForm</payment_action>
                    <allowspecific>0</allowspecific>
                </PayU>
             </payment>
        </default>
    </config>
